<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ofertas de Internet para Gamers</title>
    <link rel="stylesheet" href="/css//planes ejs.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</head>
<body>
    <header>
        <h1>Golden Connet</h1>
        <nav>
            <br><br>
            <ul>
                <li><a href="/index">Inicio</a></li>
                <li><a href="/tv">TV Hogar</a></li>
                <li><a href="/soporte">Soporte</a></li>
            </ul>
        </nav>
    </header>
    <br><br>




    <!-- iconos  -->
     
    <section2 class="social-buttons">
        <div class="main">
          <div class="up">
            <!-- icono instagram  -->
            <button class="card1"  onclick="window.open('https://www.instagram.com/', '_blank');">
              <svg class="instagram" fill-rule="nonzero" height="30px" width="30px" viewBox="0,0,256,256">
                <g style="mix-blend-mode: normal" text-anchor="none" font-size="none" font-weight="none" font-family="none" stroke-dashoffset="0" stroke-dasharray="" stroke-miterlimit="10" stroke-linejoin="miter" stroke-linecap="butt" stroke-width="1" stroke="none" fill-rule="nonzero">
                  <g transform="scale(8,8)">
                    <path d="M11.46875,5c-3.55078,0 -6.46875,2.91406 -6.46875,6.46875v9.0625c0,3.55078 2.91406,6.46875 6.46875,6.46875h9.0625c3.55078,0 6.46875,-2.91406 6.46875,-6.46875v-9.0625c0,-3.55078 -2.91406,-6.46875 -6.46875,-6.46875zM11.46875,7h9.0625c2.47266,0 4.46875,1.99609 4.46875,4.46875v9.0625c0,2.47266 -1.99609,4.46875 -4.46875,4.46875h-9.0625c-2.47266,0 -4.46875,-1.99609 -4.46875,-4.46875v-9.0625c0,-2.47266 1.99609,-4.46875 4.46875,-4.46875zM21.90625,9.1875c-0.50391,0 -0.90625,0.40234 -0.90625,0.90625c0,0.50391 0.40234,0.90625 0.90625,0.90625c0.50391,0 0.90625,-0.40234 0.90625,-0.90625c0,-0.50391 -0.40234,-0.90625 -0.90625,-0.90625zM16,10c-3.30078,0 -6,2.69922 -6,6c0,3.30078 2.69922,6 6,6c3.30078,0 6,-2.69922 6,-6c0,-3.30078 -2.69922,-6 -6,-6zM16,12c2.22266,0 4,1.77734 4,4c0,2.22266 -1.77734,4 -4,4c-2.22266,0 -4,-1.77734 -4,-4c0,-2.22266 1.77734,-4 4,-4z"></path>
                  </g>
                </g>
              </svg>
            </button>


            <!-- icono facebook  -->
            <button class="card2"  onclick="window.open('https://www.facebook.com/login/?next=https%3A%2F%2Fwww.facebook.com%2F', '_blank');">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" height="24" class="facebook" width="24">
                <path d="M9.19795 21.5H13.198V13.4901H16.8021L17.198 9.50977H13.198V7.5C13.198 6.94772 13.6457 6.5 14.198 6.5H17.198V2.5H14.198C11.4365 2.5 9.19795 4.73858 9.19795 7.5V9.50977H7.19795L6.80206 13.4901H9.19795V21.5Z"></path>
              </svg>
            </button>
          </div>
          <div class="down">






<!-- funcion js para enlazar whatsaaap -->
            <!-- onclick="window.open('https://wa.me/3174102877', '_blank');" -->

            <button class="card3" onclick="window.open('https://wa.me/3174102877', '_blank');">
              <svg width="30" height="30" viewBox="0 0 24 24" class="whatsapp">
                <path d="M19.001 4.908A9.817 9.817 0 0 0 11.992 2C6.534 2 2.085 6.448 2.08 11.908c0 1.748.458 3.45 1.321 4.956L2 22l5.255-1.377a9.916 9.916 0 0 0 4.737 1.206h.005c5.46 0 9.908-4.448 9.913-9.913A9.872 9.872 0 0 0 19 4.908h.001ZM11.992 20.15A8.216 8.216 0 0 1 7.797 19l-.3-.18-3.117.818.833-3.041-.196-.314a8.2 8.2 0 0 1-1.258-4.381c0-4.533 3.696-8.23 8.239-8.23a8.2 8.2 0 0 1 5.825 2.413 8.196 8.196 0 0 1 2.41 5.825c-.006 4.55-3.702 8.24-8.24 8.24Zm4.52-6.167c-.247-.124-1.463-.723-1.692-.808-.228-.08-.394-.123-.556.124-.166.246-.641.808-.784.969-.143.166-.29.185-.537.062-.247-.125-1.045-.385-1.99-1.23-.738-.657-1.232-1.47-1.38-1.716-.142-.247-.013-.38.11-.504.11-.11.247-.29.37-.432.126-.143.167-.248.248-.413.082-.167.043-.31-.018-.433-.063-.124-.557-1.345-.765-1.838-.2-.486-.404-.419-.557-.425-.142-.009-.309-.009-.475-.009a.911.911 0 0 0-.661.31c-.228.247-.864.845-.864 2.067 0 1.22.888 2.395 1.013 2.56.122.167 1.742 2.666 4.229 3.74.587.257 1.05.408 1.41.523.595.19 1.13.162 1.558.1.475-.072 1.464-.6 1.673-1.178.205-.58.205-1.075.142-1.18-.061-.104-.227-.165-.475-.29Z"></path>
              </svg>
            </button>
            












            <button class="card4"  onclick="window.open('https://accounts.google.com/', '_blank');">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" height="24" class="gmail" width="24">
                <path d="M6 12C6 15.3137 8.68629 18 12 18C14.6124 18 16.8349 16.3304 17.6586 14H12V10H21.8047V14H21.8C20.8734 18.5645 16.8379 22 12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C15.445 2 18.4831 3.742 20.2815 6.39318L17.0039 8.68815C15.9296 7.06812 14.0895 6 12 6C8.68629 6 6 8.68629 6 12Z"></path>
              </svg>
            </button>
          </div>
        </div>
      </section2>
      
      <!-- FIN ICONOS -->

    <h1 style="text-align: center;">Ofertas Destacadas</h1>
    <br><br><br>

    <section id="ofertas">
        <div class="oferta">
            <h3>INTERNET FIBRA</h3>
            <br><br>
            <p>20MG</p>
            <p>Velocidad: 100 Mbps</p>
            <p>32% dcto.</p>
            <p style="text-align: center;">$29.99/mes no incluye instalacion</p>
    
            <div class="container">
                <a href="/formulariointernet20mg"><button class="btn" style="color: aliceblue; font-size: 250%;">Contratar</button></a>
            </div> 
        </div>

        <div class="oferta">
            <h3>INTERNET TELEVISION</h3>
            <br><br>
            <p>100MG</p>
            <p>40% dcto + full TV</p>
            <P>Router principal incluido</P>
            <p style="text-align: center;">Precio: $90.990 / mes</p>
            <br>
            <div class="container">
                <a href="/formulariointernet100mg"><button class="btn" style="color: aliceblue; font-size: 250%;">Contratar</button></a>
            </div>
        </div>

        <div class="oferta">
            <h3>FIBRA PREMIUM</h3>
            <br><br>
            <p>500MG</p>
            <P>1 Servicio de soporte tecnico totalmente gratis.</P>
            <p>Costo de instalacion $0</p>
            <p style="text-align: center;">Precio: $69.99/mes</p>
            <div class="container">
                <a href="/formulariointernet500mg"><button class="btn" style="color: aliceblue; font-size: 250%;">Contratar</button></a>
            </div>
        </div>
    </section>
    <br><br><br><br><br><br>
    <div class="container plan-recommender my-5 px-3 px-lg-5">
        <div class="row align-items-center">
            <div class="col-12 col-md-6 d-flex flex-column justify-content-center text-start">
                <h2 class="headline_3-xs my-5">Quieres Fibra Óptica en tu
                    
                    <div style="position: relative; left: 25%;">
                        <strong>hogar</strong>
                    </div>
                </h2>
                <p class="subtitle_2-xs mb-4"> ¡Estamos a un mensaje de distancia! Contáctanos por WhatsApp y chatea con nuestro equipo para conocer cómo puedes acceder al servicio de fibra óptica. Estamos aquí para ofrecerte la mejor atención y resolver todas tus dudas.</p>
                <br>
                <div class="text-center">
                    <a class="btn btn-white py-3 px-5 me-n4" style="font-size: 120%;" onclick="window.open('https://wa.me/3174102877', '_blank');">Contactanos</a>
                </div>
            </div>
            
            <div class="col-12 col-md-6 d-flex justify-content-end">
                <img src="/img/planes1.jpg" alt="Descripción de la imagen" class="img-fluid" />
            </div>
        </div>
    </div>
    </section2>

<br><br><br><br><br>
    
  <!-- registrate  -->
  <div class="register-form">
    <h1 style="text-align: center;"> Registrate </h1>
    <p style="text-align: center;" > con GoldenConnet y conoce todas nuestras ofertas de locura que tenemos para ti.</p>
    <br>
    <form action="register" method="POST">
        <label for="Nombre" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="Nombre" name="Nombre" required>
      
     
        <label for="Apellido" class="form-label">Apellido</label>
        <input type="text" class="form-control" id="Apellido" name="Apellido" required>
      
      
        <label for="Telefono" class="form-label">Teléfono</label>
        <input type="text" class="form-control" id="Telefono" name="Telefono" required>
      
        <label for="correo" class="form-label">Correo</label>
        <input type="email" class="form-control" id="correo" name="correo" required>
     
       <div style="display:inline;">
            <a href="register" class="btn-cancel">Cancelar</a><input type="submit" class="btn-save" value="Guardar">
        </div>
      
    </form>


</div>

        <br><br><br><br><br>

        <!-- Footer -->
        <footer class="text-black pt-4">
            <div class="container d-flex justify-content-between align-items-center">
                <!-- Logo a la izquierda -->
                <div class="col-lg-4 col -text-md-start">
                    <div class="logo">
                        <a href="#">
                          <img src="/img/logo listo.png" alt="logo" class="img-fluid" style="width: 60%; height: auto;">
                        </a>
                    </div>
                    <p class="mt-2" style="font-size: 200%;">Golden Connect</p>
                </div>
        
                <!-- Contenido a la derecha -->
                <div class="right-content" style="font-size: 150%;">
                    <div class="row">
                        <div class="col-lg-2 col-md-6 mb-4" style="margin-left: -10%; margin-right:50px;">
                            <h5 class="text-uppercase" style="font-size: 120%;">Inicio</h5>
                            <br>
                            <ul class="list-unstyled">
                                <li><a href="#" style="color: black;">Inicio</a></li>
                                <li><a href="#" style="color: black;">Soporte</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-2 col-md-6 mb-4" style="margin-right: 50px;">
                            <h5 class="text-uppercase" style="font-size: 120%;">Legal</h5>
                            <br>
                            <ul class="list-unstyled">
                                <li><a href="#" style="color: black;">Términos</a></li>
                                <li><a href="#" style="color: black;">Licencia</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-2 col-md-6 mb-4">
                            <h5 class="text-uppercase" style="font-size: 120%;">Contacto</h5>
                            <br>
                            <ul class="list-unstyled">
                                <li><a href="#" style="color: black;">3125488714</a></li>
                                <li><a href="#" style="color: black;">GoldenConnet@gmail.com</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                
            </div>
        </footer>
        
   
</body>


<!-- script para mensaje de alkerta  registro satisfactorio -->

<% if (typeof alertTitle !== 'undefined') { %>
  <script>
    Swal.fire({
      title: '<%= alertTitle %>',
      text: '<%= alertMessage %>',
      icon: '<%= alertIcon %>',
      showConfirmButton: <%= showConfirmButton %>,
      timer: <%= timer %>
    }).then(() => {
      window.location.href = '/<%= ruta %>';
    });
  </script>
<% } %>
</html>
